.btn {
    outline: none;
    cursor: pointer;
    border: none;
    position: relative;
    transition: 0.2s;
    font-family: Circe, sans-serif;
    position: relative;
    color: #fff;
    font-family: 'ProximaNova', sans-serif; // display: flex;
    // align-items: center;
    transition: 0.2s;
    &-small {
        padding: 0 14px;
        height: 20px;
        font-size: 10px;
    }
    &-big {
        // width: 100%;
        height: 30px;
        padding: 0px 20px;
        font-size: 14px;
    }
    &-grey {
        background: #516173;
        &:hover:not(:disabled){
            background: darken(#516173, 10%);
        }
    }
    &-grey-dark {
        background: #333f52;
        &:hover:not(:disabled){
            background: darken(#333f52, 10%);
        }
    }
    &-green {
        background: #39b54a;
        &:hover:not(:disabled){
            background: darken(#39b54a, 10%);
        }
    }
    &-red {
        background: #f85359;
        &:hover:not(:disabled){
            background: darken(#f85359, 10%);
        }
    }
    &-toggle {
        background: none;
        color: #7f8fa4;
        font-size: 12px;
        &:hover {
            color: #39B54A;
        }
    }
    &:active {
        transform: translateY(1px);
    }
    &:disabled {
        cursor: auto;
    }
}