.dropdown {
    display: inline-block;
    position: relative;
    border-radius: 1px;
    $c: &;
    &:after {
        content: '';
        transition: 0.3s;
        position: absolute;
        top: 0;
        bottom: 0;

        margin: auto;
        width: 1px; 
        height: 1px;    
        border: solid #e2e7ee;
        border-width: 0 1px 1px 0;
        display: block;
        padding: 1px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
    &.opened {
        #{$c}-value {
            background: #39b54a;
        }
        #{$c}-content {
            opacity: 1;
            visibility: visible;
        }
        &:after {
            top: 3px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
        }
        &.dropdown-small:after {
            top: 1px;
        }
    }
    &-big {
        // width: 150px;
        height: 36px;
        &:after {
            right: 10px;
        }
        #{$c}-value {
            padding: 0 20px 0 16px;
            font-size: 14px;
            line-height: 39px;
        }
    }
    &-small {
        height: 20px;
        &:after {
            top: -2px;
            right: 5px;
        }
        #{$c}-value {
            padding: 0 32px 0 9px;
            font-size: 10px;
            line-height: 20px;
        }
    }
    &-green {
        background: #39b54a;
    }
    &-grey {
        background-color: #516173;
    }
    &-dark-grey {
        background: #333f52;
    }

    &-coins {
        #{$c}__content {
            width: 300px;
        }
    }
    &-value {
        cursor: pointer;
        color: #fff;
        display: block;
        width: 100%;
        height: 100%;
    }
    &-content {
        opacity: 0;
        visibility: hidden;
        position: absolute; // background: #fff;
        left: 0;
        background-color: #516173;
        box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
        z-index: 99;
        transition: 0.3s;
        width: 100%;
        input {
            padding: 8px 10px;
            width: 92%;
            margin: 10px auto;
            display: block;
            border: none;
        }
        ul {
            width: 100%;
            li {
                width: 100%;
                color: #fff;
                padding: 10px 10px;
                cursor: pointer;
                font-size: 12px;
                &:hover {
                    background: darken(#516173, 10%);
                }
            }
        }
    }
}