body {
    font-family: 'ProximaNova', sans-serif;
    min-width: 320px;
    background: #516173;
    padding: 10px 23px 10px 23px;
}

main {
    min-height: calc(100% - 120px);
    margin-bottom: 15px;
}



[data-tabs-content] {
    display: none;
    &.active {
        display: block;
    }
}

.red {
    color: #f85359!important;
}

.green {
    color: #39b54a!important;
}

.grey {
    color: #7f8fa4!important;
}

.mobile-sub-header {
    display: none;
    .scroll-x {
        width: calc(100% - 120px);
    }
}

.dashboard-block {
    background: #273142;
    padding: 20px; // overflow: auto;
    &__inner {
        background: #333f52;
    }
    &__title {
        font-size: 22px;
        font-weight: 400;
        color: #fff;
        width: 100%;
    }
}

.dashboard-header {
    height: 100px;
    margin-bottom: 8px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        width: calc(63% - 15px);
        display: flex;
        justify-content: space-between;
    }
    &__right {
        width: calc(37% + 5px);
        display: flex;
        justify-content: space-between;
    }
}


.dashboard-logo {
    width: 60px;
    min-width: 60px;
    margin-right: 20px;
    img {
        width: 100%;
    }
}

.dashboard-status {
    display: flex;
    align-items: center;
    width: calc(30%);
    padding-left: 20px;
    &__time {
        color: #fff;
        margin-top: 10px;
        font-size: 14px;
        &_date {}
        &_hours {
            margin-left: 10px;
        }
    }
    .btn {
        padding: 0 6px;
    }
}

.dashboard-pairs {
    padding: 10px 16px;
    display: flex;
    width: calc(66% - 12px);
    justify-content: space-between;
    align-items: center;
    height: 80px;
    .table {
        width: calc(100% - 120px);
        .table-body__col {
            font-size: 14px;
        }
        &-head {
            height: 20px;
        }
    }
    .dropdown {
        width: 125px;
    } // .dropdown-content {
    //     width: 116px;
    // }
}

.dashboard-balance {
    padding: 7px 15px 7px 13px;
    width: calc(53% - 10px);
    position: relative;
    height: 80px;
    min-width: 295px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;
        padding-right: 8px;
        &:first-child {}
        &_title {
            font-size: 14px;
            color: #fff;
            font-weight: 300;
        }
        &_value {
            font-size: 12px;
            color: #fff;
            small {
                color: #7f8fa4;
                font-size: 10px;
            }
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 5px;
    }
    .toggle-content {
        padding-bottom: 18px;
        .btn {
            float: right;
            margin-top: 10px;
        }
    }
}

.toggle-content {
    position: absolute;
    width: 100%;
    padding: 10px;
    background: #333f52;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 99;
    box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .5);
    &__title {
        color: #7f8fa4;
        font-size: 12px;

        margin-top: 18px;
        margin-bottom: 3px;
        &:first-child {
            margin-top: 0;
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.dashboard-auth {
    $c: &;
    width: calc(47% - 10px);
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    padding-right: 16px;
    &__email {
        font-size: 14px;
        color: #fff;
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &.authorized {
        #{$c}__unauthorized {
            display: none;
        }
        #{$c}__authorized {
            display: block;
        }
    }
    &__unauthorized {
        display: block;
    }
    &__authorized {
        display: none;
    }
    .dashboard-theme {
        margin-top: 3px; // width: 100%;
        margin-bottom: 4px;
    }
    .dropdown {
        margin-top: 8px;
        .dropdown-value {
            padding: 0 15px 0 7px;
        }
    }
}



.dashboard-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%; // height: calc(100vh - 160px);
    &__left {
        width: calc(63% - 15px);
    }
    &__right {
        width: calc(37% + 5px);
        display: flex;
        justify-content: space-between;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
}

.dashboard-chart {
    // width: calc(60% - 10px); // height: calc(50%);
    // width: calc(63% - 15px);
    width: 100%;
    height: 477px;
    overflow: hidden;
    padding: 14px 12px 14px 20px;
    &.full-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
    }
    &__panel {
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding: 2px 8px;
        .dropdown {
            width: 60px;
        }
        &_buttons {

            display: flex;
            align-items: center;
            &_btn {
                color: #fff;
                font-size: 14px;
                padding: 0 9px;
                background: #516173;
                min-width: 28px;
                border: 1px solid transparent;
                margin-left: 7px;
                cursor: pointer;
                height: 30px;
                line-height: 29px;
                &.active {
                    border: solid 1px #1bb934;
                    background: #273142;
                }
                &:hover {}
                &.full-size {
                    padding: 0;
                    position: relative;
                    img {
                        width: 16px;
                        margin: auto;
                        display: block;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
    }
    .canvas {
        width: 100%;
        height: calc(100% - 20px);
        .highcharts-credits {
            display: none;
        }
        .highcharts-scrollbar-track {
            display: none;
        }
    }
}

.dashboard-trade-log {
    // width: calc(20% - 10px);
    width: calc(53% - 10px);
    height: 477px;
    padding: 10px 8px 10px 2px;
    &__tabs {
        width: 84px;
        display: flex;
        justify-content: space-between;
        float: right;
        margin-top: 3px;
        padding-right: 8px;
        &_item {
            cursor: pointer;
            width: 22px;
            height: 22px;
            background: #516173;
            border: 1px solid transparent; // transition: 0.3s;
            img {
                width: 100%;
                height: 100%;
            }
            &.active {
                background: none;
                border: 1px solid #1bb934;
            }
        }
    }

    &__price {
        color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 10px;
        margin: 8px 0;
        font-size: 14px;
        div {
            width: 40%;
            text-align: right;
            font-weight: 600;
            &:first-child {
                text-align: left;
                font-weight: 300;
                width: 20%;
            }
        }
    }
    .dashboard-block__title {
        padding-left: 11px;
    }
    .table {
        height: calc(100% - 30px);
        overflow: auto;
        margin-top: 7px;
        &-head {
            height: 20px;
            &__col {
                white-space: nowrap;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &-body {
            height: calc(100% - 30px);
            &__row {
                height: 18px;
            }
        }
    }
}

.dashboard-trade-history {
    width: calc(48% - 5px);
    height: 477px;
    padding: 10px 8px 10px 2px;
    .dashboard-block__title {
        padding-left: 11px;
    }
    .table {
        height: calc(100% - 30px);
        overflow: auto;
        margin-top: 7px;
        &-head {
            height: 20px;
            &__col {
                white-space: nowrap;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &-body {
            height: calc(100% - 30px);
            &__row {
                height: 18px;
            }
        }
    }
}

.dashboard-orders {
    margin-top: 8px; // width: calc(60% - 10px);
    width: 100%;
    height: 350px;
    padding: 14px 6px 20px 15px;
    &__tabs {
        display: flex;
        margin-bottom: 5px;
        &_item {
            padding: 7px 6px 5px 6px;
            background: #516173;
            margin-right: 7px;
            color: #fff;
            cursor: pointer;
            border: 1px solid transparent;
            font-size: 14px;
            &.active {
                background: no-repeat;
                border: 1px solid #1bb934;
            }
        }
    }
    .scroller-x {
        height: calc(100% - 39px);
    }
    .table {
        height: 100%;

        &-body {
            height: calc(100% - 72px);
        }
    }

    .toggle-content {
        width: 177px;
        background: #516173;
        transform: translateX(-50%);
        &__title {
            color: #ffffff;
            font-size: 10px;
            text-align: center;
        }
        &__buttons {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
    }
    .table-filter {
        .dropdown {
            width: 57px;
            margin-right: 15px;
        }
    }
    .table-head {
        height: 34px;
    }

    .table-body__row {
        height: 28px;
    }
    .logInButton {
        margin: 80px auto;
        display: block;
    }
}

.dashboard-limit {
    // width: 40%;
    width: 100%;
    height: 350px;
    margin-top: 8px;
    padding: 12px 13px 20px 14px;
    .dashboard-block__inner {
        background: none;
        .dashboard-block__title {
            color: #7f8fa4;
        }
        .btn {
            background: #516173;
        }
        form .input input {
            border-color: #7f8fa4;
        }
        &.active {
            background: #333f52;
            .dashboard-block__title {
                color: #fff;
            }
            .btn {
                background: #39b54a;
            }
            form .input input {
                border-color: #fff;
            }
        }
    }
    .dashboard-block__title {
        font-size: 20px;
        font-weight: 400;
        margin-top: 5px;
        letter-spacing: 1px;
    }
    &__buy {
        width: calc(50% - 5px);
        padding: 10px;
        .dashboard-block__title {
            text-align: center;
        }
    }
    &__sell {
        width: calc(50% - 5px);
        padding: 10px;
        .dashboard-block__title {
            text-align: center;
        }
    }
    &__wrapper {
        // display: flex;
        // justify-content: space-between;
        // flex-wrap: wrap;
        height: calc(100% - 20px);
        margin-top: 9px;

        .simplebar-content {
            display: flex; // width: 100%; 
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
    &__balance {
        font-size: 14px;
        color: #7f8fa4;
        display: flex;
        justify-content: space-between;
        span {
            font-size: 12px;
            padding-right: 14px;
        }
    }
    &__total {
        margin-top: 10px;
        font-size: 14px;
        color: #7f8fa4;
        display: flex;
        justify-content: space-between;
        &_value {
            color: #ffffff;
            padding-right: 14px;
            font-size: 12px;
        }
    }
    &__subtitle {
        margin-top: 3px;
        font-size: 10px;
        color: #7f8fa4;
    }
    .btn {
        width: 100%;
        margin-top: 7px;
        height: 36px;
    }
    form {
        margin-top: 16px;
        .input {
            position: relative;
            width: 100%;
            margin-top: 10px; // height: 60px;
            &.invalid {
                input {
                    border-color: #f85359!important;
                }
                .input__tag {
                    color: #f85359;
                }
            }
            &.valid {
                input {
                    border-color: #39b54a!important;
                }
                .input__tag {
                    color: #39b54a;
                }
            }
            input {
                padding: 5px 5px 2px 11px;
                border: none;
                background: none;
                outline: none;
                color: #fff;
                font-size: 14px;
                width: 100%;
                border-bottom: 1px solid #fff;
                font-family: 'ProximaNova', sans-serif;
            }

            &__label {
                // position: absolute;
                color: #7f8fa4;
                font-size: 14px;
                display: flex;
                width: 100%;
                justify-content: space-between;
                &_extra {
                    font-size: 12px;
                    padding-right: 13px;
                }
            }
            &__tag {
                position: absolute;
                right: 10px;
                bottom: 5px;
                color: #7f8fa4;
                font-size: 12px;
            }
        }
    }
}

.simplebar-track.vertical {
    background: #fff;
    border-radius: 10px;
    width: 5px;
}

.simplebar-scrollbar {
    right: 0!important;
    width: 5px!important;
}

.simplebar-scrollbar:before {
    background: #273142;
}


#ui-datepicker-div {

    // .ui-datepicker {
    font-family: 'ProximaNova', sans-serif;
    padding: 0;
    border-radius: 0;
    border: none;
    .ui-widget-header {
        background: #516173;
        border: none;
        border-radius: 0;
    }
    .ui-datepicker-title {
        color: #fff;
        font-weight: 400;
    }
    table {
        margin-bottom: 0;
    }
    thead {
        background-color: #516173;
        color: #fff;
        font-size: 10px;
        th {
            font-weight: 300;
        }
    }
    tbody {
        font-size: 10px;
        td {
            padding: 4px;
        }
    }
    .ui-datepicker-calendar {
        background: #e2e7ee;
    }

    .ui-state-default {
        padding: 4px;
        width: 22px;
        text-align: center;
        border: 1px solid transparent;
        background: none;
        &.ui-state-highlight {
            background: #516173;
            border-color: transparent;
            color: #fff;
            border-radius: 100%;
        }
        &.ui-state-active {
            background: #39b54a;
            border-color: transparent;
            color: #fff;
            border-radius: 100%;
        }
    } // }
    .ui-datepicker-prev {
        background: none!important;
        border: none!important;
        left: 2px;
        top: 2px;
        cursor: pointer;
        .ui-icon {
            background-image: none;
        }
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 6px solid #e2e7ee;
            left: 10px!important;
            top: 5px;
        }
    }

    .ui-datepicker-next {
        background: none!important;
        border: none!important;
        right: 2px;
        top: 2px;
        cursor: pointer;
        .ui-icon {
            background-image: none;
        }
        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-left: 6px solid #e2e7ee;
            right: 10px!important;
            top: 5px;
        }
    }
}



.simplebar-track.horizontal {
    display: none;
}

// .canvas {
//     height: 400px;
// }
@keyframes slideinUp {
    from {
        transform: translateY(400px);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideinRight {
    from {
        transform: translateX(100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes slideinLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
    }

    to {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
}