/* MOBILES */

// .desktop {
//     display: block;
// }
// .mobile {
//     display: none;
// }
@media screen and (max-width: 1800px) {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 1280px) {
    main {
        margin-bottom: 20px;
    }
    .dashboard-header {
        .dashboard-balance,
        .dashboard-pairs {
            display: none;
        }
    }
    .dashboard-auth,
    .dashboard-status {
        width: 100%;
    }
    .dashboard-header__right {
        justify-content: flex-end;
    }
    .dashboard-container__left {
        width: 100%;
    }
    .dashboard-container__right {
        width: 100%;
        margin-top: 8px;
    }
    .dashboard-orders {
        height: 396px;
    }
    .dashboard-limit {
        margin-top: 0;
        height: 340px;
    }
    .mobile-sub-header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 8px;
        padding-right: 12px;
        .dashboard-pairs {
            width: 100%;
            margin-bottom: 8px;
        }
        .dashboard-balance {
            width: 100%;
        }
    }
}

@media screen and (max-width: 980px) {
    .dashboard-pairs {
        height: auto;
        flex-wrap: wrap;
        .table {
            margin-top: 8px;
            width: 100%;
        }
    }
}

@media screen and (max-width: 768px) {
    .dashboard-status {
        padding-left: 0;
    }
    .dashboard-auth {
        padding-right: 0;
    }
    .dashboard-block {
        padding: 10px;
    }
    .dashboard-container__right {
        flex-wrap: wrap;
    }
    .dashboard-trade-log {
        width: 100%;
        margin-bottom: 8px;
    }
    .dashboard-trade-history {
        width: 100%;
    }
    .dashboard-pairs .table .table-body__col {
        font-size: 12px;
    }
    .dashboard-pairs {
        padding: 10px;
    }
    body {
        padding: 13px 10px 10px;
    }
}

@media screen and (max-width: 600px) {
    .dashboard-limit {
        height: auto;
        &__wrapper {
            height: 100%;
        }
        .dashboard-limit__buy {
            margin-bottom: 8px;
            width: 100%;
        }
        .dashboard-limit__sell {
            width: 100%;
        }
        .simplebar-content {
            height: 100%;
            margin-bottom: 10px;
            display: block;
            overflow: hidden!important;
        }
        .simplebar-scroll-content {
            overflow: hidden!important;
        }
    }
    .table-filter {
        flex-wrap: wrap;
        overflow: hidden;
    }
}

@media screen and (max-width: 480px) {
    .dashboard-header__left {
        width: 100%;
    }
    .dashboard-header__right {
        width: 100%;
    }
    .dashboard-status__right {
        // display: none;
    }
    .dashboard-header {
        flex-wrap: wrap;
        height: auto;
    }
    .dashboard-status {
        flex-wrap: wrap;
        justify-content: center;
        .btn {
            padding: 0 6px;
            position: absolute;
            left: 20px;
            top: 25px;
        }
    }
    .dashboard-logo {
        margin: 0;
    }
    .dashboard-status__right {
        width: 100%;
        text-align: center;
    }
       .dashboard-auth {
        justify-content: center;
    }
    .dashboard-auth__buttons {
        justify-content: center;
    }
}

@media screen and (max-width: 375px) {}