.table {
    &-filter {
        background: #333f52;
    }
    &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        height: 30px;
        &.filled {

            background: #333f52;
        }
        &__col {
            font-size: 12px;
            color: #7f8fa4;
        }
    }
    &-body {
        $c: &;
        &__row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 20px;
            padding: 0 10px;
        }
        &__col {
            color: #fff;
            font-size: 12px;
        }
        &.filled {
            #{$c}__row:nth-child(even) {
                background: #333f52;
            }
        }
        &.scrolled {
            overflow: auto;
        }
    }

    &.col-3 {
        .table-head__col, .table-body__col {
            width: calc(100%/3);
            text-align: right;
            &:first-child {
                text-align: left;
            }
        }
    }

    &.col-4 {
        .table-head__col, .table-body__col {
            width: 25%;
        }
    }

    &.col-8 {
        .table-head__col, .table-body__col {
            width: calc(100% / 8);
        }
    }

    &.col-9 {
        .table-head__col, .table-body__col {
            width: calc(100% / 9);
        }
    }
}